NEXT_PUBLIC_CONTACT_EMAIL=website.contact.smtp@gmail.com
NEXT_PUBLIC_CONTACT_PHONE=+36 20 555 5555
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/fala.farm/
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/levente-lajk%C3%B3-818805139/
NEXT_PUBLIC_CONTACT_ADDRESS=Üllés, Petőfi dűlő 117, 6794
CONTACT_EMAIL=website.contact.smtp@gmail.com

# Email szolgáltatás
RESEND_API_KEY=re_gZHXyoa7_BfRcZC9sN3Wr5VrqwoEojXek  # resend.com  API kulcs

# hCaptcha beállítások
NEXT_PUBLIC_HCAPTCHA_SITE_KEY=10000000-ffff-ffff-ffff-000000000001  # Regisztrálj a hcaptcha.com oldalon
HCAPTCHA_SECRET_KEY=0x0000000000000000000000000000000000000000

