NEXT_PUBLIC_CONTACT_EMAIL=info@falafarm.com
NEXT_PUBLIC_CONTACT_PHONE=+36 20 555 5555
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/fala.farm/
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/levente-lajk%C3%B3-818805139/