NEXT_PUBLIC_CONTACT_EMAIL=website.contact.smtp@gmail.com
NEXT_PUBLIC_CONTACT_PHONE=+36 20 555 5555
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/fala.farm/
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/levente-lajk%C3%B3-818805139/
NEXT_PUBLIC_CONTACT_ADDRESS=my address
CONTACT_EMAIL=my-email

# Email szolgáltatás
RESEND_API_KEY=resend-api-key # resend.com  API kulcs


