NEXT_PUBLIC_CONTACT_EMAIL=example@email.com
NEXT_PUBLIC_CONTACT_PHONE=+36 20 555 5555
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/user.name/
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/user-id-of-profile/
NEXT_PUBLIC_CONTACT_ADDRESS=my address
CONTACT_EMAIL=my-email

# Email szolgáltatás
RESEND_API_KEY=resend-api-key # resend.com  API kulcs


